body{
margin: 0%;
padding: 0%;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
    width:100%;
    height:120px;
    background-color: black;
}
.div1{
    width: 100%;
    height: 50%;
    background-color: rgb(31, 26, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 12px;
}
.div2{
    width: 100%;
    height:70%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div3{
    width:130px;
    height: 120px;
    background-color: orange;
    margin-left: 10%;
    position: absolute;
    top:0%;
}
.sect1{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: brown;
    background: rgba(0,0,0,0.7)url(fond.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h11{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
}
ul{
    display: flex;
    list-style-type: none;
}
ul li a{
    padding:20px 20px;
    
}
.a1{
    text-decoration: none;
    color: white;
}
.div0{
    margin-left: 220px;
}
.div4{
    display: flex;
    justify-content: space-around;
}
.ul1{
    margin-left: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a2{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 7px;
}
.div5{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
}
.div6{
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 5px;
}
.p1{
    text-align: center;
    line-height: 25px;
}
.h12{
    text-align: center;
    font-size: 60px;
}
.div7{
    width: 20%;
    height: 45px;
    border:1px solid white;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.sect2{
    width: 100%;
    height:400px;
    background-color: grey;
}
.div8{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 95%;
    left: 60vh;
}
.puma2{
filter: blur(2px);
background-blend-mode: darken;
background: rgba(0,0,0,0.9);
}
.puma3{
filter: blur(2px);
background-blend-mode: darken;
background: rgba(0,0,0,0.9);
}
.bordure1{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 250px;
  height:250px;
  border: 2px solid rgb(7, 7, 7);
  border-top:0px solid;
  box-sizing: border-box;
}
.bordure2{
    position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-top: 0px solid  ;
}
.h13{
    color: white;
    position: absolute;
    top: 95%;
    left: 55%;
}
.h14{
    color:red;
    position: absolute;
    top: 95%;
    left: 31%;
}
